*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2d2928;
  font-size: 14px;
  line-height: 20px;
}

.header-wrapper{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 64px
}

.logo{
  vertical-align: inherit;
}

.region{
  margin-left: 5px;
  white-space: nowrap;
  color: #2d2928;
  transition: .2s;
}

.region-link:hover svg path{
  transition: .2s;
}

.region-link:hover .region,
.region-link:hover svg path{
  color: #ff3d81;
  fill: #ff3d81
}

.city{
  cursor: pointer;
  transition: color .3s;
  &:hover{
    color: blue;
  }
}
.btn-outlined{
  padding: 4px 24px;
  font-weight: 700;
  color: #2d2928;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #d5d4d4;
  transition: .4s;
}

.btn-outlined:hover{
  color: #fff;
  background-color: #ff3d81;
  border: 2px solid #ff3d81;
}

.btn-contained{
  padding: 4px 24px;
  font-weight: 700;
  color: #fff;
  outline: none;
  background-color: #ff3d81;
  border-radius: 5px;
  transition: .4s;
  border: 1px solid #ff3d81;
}

.btn-contained:hover{
  background-color: #c51452;
}

.wrapper{
  background: #f4f4f4;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-custom{
  font-size: 15px;
  margin: 0 auto;
  max-width: 944px;
  color: #2d2928;
}

.header{
  font-size: 48px;
  line-height: 60px;
  color: #2d2928;
  font-weight: 700;
}

.ml-144{
	margin-left: 120px;
}

.mr-24{
	margin-right: 24px;
}

.text-sm{
  font-size: 14px;
}

.box{
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  max-width: 240px;
  transition: all ease .3s;
  border: 1px solid #ddd;

  &:hover { 
    border-color: #ff3d81!important;
    .main-svg path{
      fill: #ff3d81;
    }
  }

  .main-svg path{
    transition: all ease .3s;
  }

  .main-svg.active path{
    fill: #ff3d81
  }

  p.desc{
    color: #969493;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }

  .money{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .more-text{
    font-size: 12px;
    line-height: 16px;
    color: #2d2928;
    margin-top: 7px;
  }

  .icon-container{
    width: 60px;
    min-width: 24px;
    height: 24px;
    display: flex;
    border-radius: 12px;
    background: #f4f4f4;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
  }
}

.more{
  color: #ff3d81;
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
  cursor: pointer;
}

.card-sm{
  padding: 12px 24px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;

  &:hover{
    border-color: #ff3d81!important;
  }
}

.card-xs{
  padding: 16px 12px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;

  &:hover{
    border-color: #ff3d81!important;
  }

  .car-text{
    font-size: 13px;
    color: #2d2928;
    white-space: nowrap;
  }

  img{
    width: 44px;
    height: 28px;
  }
}

.order-type-card{
  span{
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 15px;
    color: #ff3d81;
    cursor: pointer;
    white-space: nowrap;
    max-width: 95px;
    text-overflow: ellipsis;
    margin-top: 10px;
  }
}

.package-value-card{
  p{
    line-height: 1.6;
    width: 60%;
  }
  a{
    color: #ff3d81;
    text-decoration: none;
    &:hover{
      color: #fd3178;
    }
  }
}

.card-normal{
  display: flex;
  align-items: center;
  gap: 12px; 
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 290px; 
  cursor: pointer;

  &:hover{
    border-color: #ff3d81!important;
  }

  p.desc{
    margin: 0;
    font-size: 10px;
    color: #969493;
    line-height: 16px;
  }
}

.promokod{
  color: #ff3d81;
  font-weight: 500;
  cursor: pointer;
  
  &::selection{
    background: none;
  }
}

.total-card{
  p{
    font-size: 15px;
    color: #969493;
    margin-bottom: 0;
    a{
      color: #ff3d81;
      &:hover{
        color: #ff3d81;
      }
    }
  }
}

.cursor-pointer{
  cursor: pointer;
}

#map{
  width: 80%;
  height: 100%;
}

.map-card{
  width: 776px;
}

.map-card-wrapper{
  position: relative;
  margin-left: 10px;
  margin-right: 24px;

  .from{
    margin: 6px 6px 0 0;
  }
  .num{
    color: #ff3d81;
    border: 1px solid #ff3d81;
    padding: 5.5px 10.5px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
  .points{
    width: 1px;
    position: absolute;
    border-right: 2px dotted #ff3d81;
    top: 28px;
    bottom: -24px;
    left: 78px;
  }

  .more{
    font-size: 15px;
    color: #ff3d81;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s;
    cursor: pointer;

    &::after{
      content: '';
      position: relative;
      display: inline-block;
      margin-left: 5px;
      top: 2px;
      border: 5px solid transparent;
      border-top: 5px solid #ff3d81;
    }
  }

  .close{
    font-size: 15px;
    color: #ff3d81;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.3s;
    cursor: pointer;
    margin-top: 16px;

    &::after{
      content: '';
      position: relative;
      display: inline-block;
      margin-left: 5px;
      border: 5px solid transparent;
      border-top: 5px solid transparent;
      border-bottom: 5px solid #ff3d81;
      top: initial;
      bottom: 1px;
    }
  }

  .btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

#default-checkbox{
  width: 20px;
  height: 20px;
}

#default-checkbox:checked{
  background-color: #ff3d81;
}

#default-checkbox:focus{
  border-color: #ff3d81;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ff3d8127
}

.form-check-label{
  padding-top: 3px;
  margin-left: 8px;
}

.fixed-total{
  position: fixed;
  bottom: 0;
  transform: translateX(-100%);
  margin-left: -10px;
  text-align: center;
  display: inline-flex;
  padding: 12px 8px;
  font-size: 20px;
  background-color: #2d2928;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  z-index: 9;
  color: #ffffff;
}
